<!DOCTYPE html>
<html>
<style>
   button:hover{
    background-color: #4CAF50;
    cursor: pointer;
  }
  @media only screen and (max-width: 600px) {
  .ftr-position{
    position: initial;
    margin-bottom: -70px;
    }
  }
  </style>
<head>
   <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Meta tags-->
    <meta name="author" content="QuickProp Technologies" />
    <meta property="og:title" content= "QuickProp API Trader" />
    <meta property="og:description" content="COVID-19 Vaccine Finder website to check the available slots for COVID-19 Vaccination Centers from coWIN API in India. With this website, you'll quickly be able to register for vaccines by checking the most updated information from coWIN API like center, fee, availability of both dose 1 and dose 2, age limit, vaccine type, and time slots." />
    <meta name="keywords" content="covid-19 vaccine finder, COVID-19 vaccine slot Finder, Vaccine slot tracker India, Vaccine slot tracker India, covid 19 vaccine registration, CoWIN vaccine registration, www.cowin.gov.in self registration, Vaccine registration India, COVID vaccine registration website" />
    <meta property="og:url" content="https://github.com/AkhileshThite/COVID-19-VaccineFinder" />
    <link rel="shortcut icon" type="image/png" href="static/images/favicon.png" />
    <title>QuickProp API Trader</title>

<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
   <!--Navigation Bar-->
   <div class="topnav">
        <a href="/" class="active" style="font-family: URW Chancery L, cursive;">QuickpropTrader</a>
        <a href="/breathing">Platfrom</a>
      </div>
      <!--Headings-->
      <h2 style="color: red; text-align: center;">Quickprop Trader</h2>
      <p style="text-align: center; color: red; font-weight: lighter;">Embrace innovation prosper.</p><br>
       <!--Gif-->
      <p style="text-align: center;"><img src="https://media.tenor.com/images/1274f2ea9ede2123edc8e8c169fc8104/tenor.gif" alt="COVID-19 Vaccine Finder" width="85"/></p>
  <section class="hero is-info is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-half">
            <form method="POST"><label class="label">Username</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input" type="text" name="username" placeholder="Username">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <label class="label">Password</label>
                <p class="control has-icons-left">
                  <input class="input" type="password" name="password" placeholder="Password">
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <p class="control">
                 <center>
              <div class="field"><button type="submit" class="button is-success">
                                     connect
                  </button>
                 </center>
                </p>
              </div>
            </form><br>
            <div>
             <section class="guide">
        <p>
          STEPS:<br>
          • Input username <br>
          • Input password<br>
          • Connect to Graph <a style="color: lightskyblue;" href="https://in.investing.com/indices/india-50-futures-chart">here</a>.<br>
          • Enjoy Trading.
        </p>
      </section>
       </dev>
          </div>
        </div>
      </div>
    </div><!--Footer-->
      <footer class="ftr-position">
        <p>© 2021</p>
        <p onclick="github()" class="underln"><200e>&#32 Quick Prop |</p>
        <p onclick="feedback()" class="underln"><200e>&#32 feedback |</p>
        <p onclick="source()" class="underln"><200e>&#32 source</p>
      </footer>
          
</body>
</html>



